{% extends 'base.html.twig' %}

{% block body %}
    <h1>Authors list</h1>

    <table>
        <thead>
            <tr>
                <th>Authorid</th>
                <th>Authorname</th>
                <th>Authorsecondname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td><a href="{{ path('authors_show', { 'authorId': author.authorId }) }}">{{ author.authorId }}</a></td>
                <td>{{ author.authorName }}</td>
                <td>{{ author.authorSecondName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('authors_show', { 'authorId': author.authorId }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
