{% extends 'base_bootstrap.html.twig' %}

{% block body %}
    <h1>Books list</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope = "col">Book_id</th>
                <th scope = "col">Book_name</th>
                <th scope = "col">Book_desc</th>
                <th scope = "col">Book_img</th>
                <th scope = "col">Book_pub_date</th>
                <th scope = "col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <th scope = "row"><a href="{{ path('books_show', { 'bookId': book.bookId }) }}">{{ book.bookId }}</a></th>
                <td>{{ book.bookName }}</td>
                <td>{{ book.bookDesc }}</td>
                <td>{{ book.bookImg }}</td>
                <td>{% if book.bookPubDate %}{{ book.bookPubDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        {% for author in book.author %}
                            <li>{{ author.getAuthorName }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
